*{
    box-sizing: border-box;
    font-family: 'Comic Sans MS';
    margin: 0;
    transition: all .3s;
}

body{
    background: #1a252c;
    animation: bodyAnimation 30s infinite;
}

@keyframes bodyAnimation{
    0%{background: #1a252c;}
    50%{background: #385381;}
    100%{background: #1a252c;}
}

h1{
    color: #fff;
    text-align: center;
    margin-top: 4rem;
    font-size: 4rem;
}

p{
    color: #fff;
    text-align: center;
    margin: 1rem 0 4rem 0;
    font-size: 1.5rem;
}

.board{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell{
    width: 8rem;
    height: 8rem;
    border: .1rem solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:nth-child(-n +3){
    border-top: none;
}

.cell:nth-child(3n){
    border-right: none;
}

.cell:nth-child(3n -2){
    border-left: none;
}

.cell:nth-child(n + 7){
    border-bottom: none;
}

.circle::before{
    content: "O";
    font-size: 3rem;
}

.cell:hover{
    transform: scale(1.05);
    border-width: .2rem;
    
}
.circle{
    color: #498afd;
}

.x::before{
    content: "X";
    font-size: 3rem;
}

.x{
    color: #09c372;
}

.result{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(44, 26, 44, 98%);
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    flex-direction: column;
    gap: 2rem;
}

.result.show{
    display: flex;
}

.result button{
    font-size: 2rem;
    background: #fff;
    border: .1rem solid #111;
    padding: .4rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.result button:hover{
    background: #111;
    color: #fff;
    border-color: #fff;
}

#delteScore{
    font-size: 1.5rem;
}

.score{
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}